[Unit]
Description=Flutter WebRTC Signaling Server ({{ENVIRONMENT}})
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/flutter-webrtc-server-{{ENVIRONMENT}}
ExecStart=/home/ubuntu/flutter-webrtc-server-{{ENVIRONMENT}}/webrtc-server
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
